[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
pyyaml = ">=4.21b"
jira = {version = ">= 2.0.0, < 2.1"}
tqdm = "*"
stashy = "*"
dateparser = "*"
jsonstreams = "*"
psutil = "*"

[dev-packages]
