[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
urllib3 = ">=1.26.5"
pyyaml = ">=4.21b"
jira = {version = ">= 2.0.0, < 2.1"}
tqdm = "*"
stashy = "*"
dateparser = "*"
jsonstreams = "*"
psutil = "*"
python-gitlab = "*"
pre-commit = "*"
black = "~=19.10b0"
click = "~=8.0.4"
requests-mock = "*"
mock = "*"

[dev-packages]
